---
layout: page
title: Tags
icon: folder
---

<div class="mdl-grid tags">
  {% for tag in site.tags %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
      <div class="mdl-card__title">
        <h2 id="{{ tag[0] | replace:' ','-' }}" class="mdl-card__title-text">{{ tag[0] | capitalize }}</h2>
      </div>

      <div class="mdl-card__menu">
        <i class="material-icons mdl-badge" data-badge="{{ tag[1].size }}">bookmark_border</i>
      </div>
      <div class="mdl-card__actions mdl-card--border mdl-card--expand">
        {% assign pages_list = tag[1] %}
        {% for node in pages_list %}
          {% if node.title != null and forloop.index <= 5 %}
            {% if group == null or group == node.group %}
              <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ node.url | replace_first: '/', '' | prepend: site.baseurl | prepend: site.url }}">
                <span class="button-header">
                  {{node.title}}
                </span>
                <span class="button-subheader">
                  {{ node.date | date: "%B %d, %Y" }}
                </span>
              </a>
            {% endif %}
          {% endif %}

          {% if node.title != null and forloop.index == 6 %}
            {% if group == null or group == node.group %}
              <a class="mdl-button mdl-button--accent mdl-js-ripple-effect" href="{{ 'categories.html' | prepend: site.baseurl | prepend: site.url}}">
                <span class="button-header" style="text-align:center">
                  -- READ MORE --
                </span>
              </a>
            {% endif %}
          {% endif %}

        {% endfor %}
        {% assign pages_list = nil %}
      </div>
    </div>
  {% endfor %}
</div>
